/*
* FONTS
* Hélène CHOLEZ
* 6 Septembre 2017
*/

@font-face {
  font-family: "DinCondensedBold";
  src:  url('fonts/DIN-Condensed-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GothamNarrow-Bold";
  src:  url('fonts/GothamNarrow-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GothamNarrow-Book";
  src:  url('fonts/GothamNarrow-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GothamNarrow-Light";
  src:  url('fonts/GothamNarrow-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GothamNarrow-Medium";
  src:  url('fonts/GothamNarrow-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}